@{
    ViewBag.Title = "Employment Tree";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<div id="TreeContainer" class="col-sm-11 col-lg-5 card">
    <div id="TreeContent">
    </div>
</div>
<div id="DetailsContainer" class="col-sm-11 col-lg-6 card">
    <div id="DetailsContent">
    </div>
</div>

@section scripts
{
    <script language="javascript">
        $(document).ready(function() {
            TreeView.initialize('@Url.Action("GetNode")', '@Url.Action("Edit", "Employers")');
        });
    </script>
}
